body {
  background-image: url("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.App {
  max-width: 780px;
  margin: 0 auto;
}

.App-header {
  margin: 46px 0;
}

.App-logo {
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 40px 0;
  font-size: 13px;
  color: whitesmoke;
}

.App footer a {
  color: #e6c7ab;
  font-weight: 700;
}
