body {
  background-image: url("https://images.unsplash.com/photo-1621864065824-b1c2cdaff221?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.App-header {
  margin: 65px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 80px 0;
  font-size: 17px;
  color: whitesmoke;
}

.App footer a {
  color: #e6d3a7;
  font-weight: 700;
}